body {
    background-color: #fbfbfb;
  }
  /* #mapp {
    
    position: absolute;
    top: 0;
    bottom: 0;
   width: 80vw;
    height: 80vh;
  } */
  .verticaltext{
    transform: rotate(270deg);
/* transform-origin: left top 0; */
 }
  /* ===============WEATHER ICONS */
  .hrs24icon{
    width: 70%;
    height: 70%;
  }
  .hrs24iconwind{
    width: 50px;
    height: 50px;
  }
  .icon5day{
    width: 10vw;
    height: 10vh;
  }
  .bigicon {
    width: 170px;
    height: 170px;
  }
  .districtsicon { 
      width: 10vw;
      height: 10vh;
    }
    .districtsiconSide { 
      width: 15vw;
      height: 20vh;
    }
  .windsmicon{
    width: 60px;
    height: 50px;
  }
  .icon {
    width: 100px;
    height: 100px;
  }
  
  figure {
    display: inline-block;
    font-weight: 300;
  }
  
  .longRay {
    stroke: #ffdd1a;
    stroke-width: 3;
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
    -webkit-animation: longRayAnimation 4s linear infinite;
    animation: longRayAnimation 4s linear infinite;
  }
  
  @keyframes longRayAnimation {
    from {
      stroke-dashoffset: 100;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes longRayAnimation {
    from {
      stroke-dashoffset: 100;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .shortRay {
    stroke: #ffdd1a;
    stroke-width: 1.5;
    stroke-dasharray: 3;
    stroke-dashoffset: 1;
    -webkit-animation: shortRayAnimation 3s linear infinite;
    animation: shortRayAnimation 3s linear infinite;
  }
  
  @-webkit-keyframes shortRayAnimation {
    from {
      stroke-dashoffset: 20;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes shortRayAnimation {
    from {
      stroke-dashoffset: 20;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .small-cloud {
    -webkit-animation: float 8s linear infinite;
    animation: float 8s linear infinite;
  }
  
  @-webkit-keyframes float {
    0% {
      -webkit-transform: translate(0px, 15px);
      opacity: 0.75;
    }
    25% {
      -webkit-transform: translate(15px, 0px);
      opacity: 1;
    }
    50% {
      -webkit-transform: translate(30px, 0px);
      opacity: 1;
    }
    75% {
      -webkit-transform: translate(25px, 0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0px, 15px);
      opacity: 0.75;
    }
  }
  @keyframes float {
    0% {
      -ms-transform: translate(0px, 15px);
      transform: translate(0px, 15px);
      opacity: 0.75;
    }
    25% {
      -ms-transform: translate(15px, 0px);
      transform: translate(15px, 0px);
      opacity: 1;
    }
    50% {
      -ms-transform: translate(30px, 0px);
      transform: translate(30px, 0px);
      opacity: 1;
    }
    75% {
      -ms-transform: translate(25px, 0px);
      transform: translate(25px, 0px);
      opacity: 1;
    }
    100% {
      -ms-transform: translate(0px, 15px);
      transform: translate(0px, 15px);
      opacity: 0.75;
    }
  }
  
  .reverse-small-cloud {
    -webkit-animation: reverse-float 6s linear infinite;
    animation: reverse-float 6s linear infinite;
  }
  
  @-webkit-keyframes reverse-float {
    0% {
      -webkit-transform: translate(0px, -15px);
      opacity: 0.75;
    }
    25% {
      -webkit-transform: translate(-15px, 0px);
      opacity: 1;
    }
    50% {
      -webkit-transform: translate(-30px, 0px);
      opacity: 1;
    }
    75% {
      -webkit-transform: translate(-25px, 0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0px, -15px);
      opacity: 0.75;
    }
  }
  @keyframes reverse-float {
    0% {
      -ms-transform: translate(0px, -15px);
      transform: translate(0px, -15px);
      opacity: 0.75;
    }
    25% {
      -ms-transform: translate(-15px, 0px);
      transform: translate(-15px, 0px);
      opacity: 1;
    }
    50% {
      -ms-transform: translate(-30px, 0px);
      transform: translate(-30px, 0px);
      opacity: 1;
    }
    75% {
      -ms-transform: translate(-25px, 0px);
      transform: translate(-25px, 0px);
      opacity: 1;
    }
    100% {
      -ms-transform: translate(0px, -15px);
      transform: translate(0px, -15px);
      opacity: 0.75;
    }
  }
  
  #drop1 {
    -webkit-animation: rain 1s linear infinite;
    animation: rain 1s linear infinite;
  }
  
  #drop3 {
    -webkit-animation: rain 1s linear infinite 0.5s;
    animation: rain 1s linear infinite 0.5s;
  }
  
  #drop2 {
    -webkit-animation: rain 2s linear infinite 1s;
    animation: rain 2s linear infinite 1s;
  }
  
  #drop4 {
    -webkit-animation: rain 2s linear infinite 0.8s;
    animation: rain 2s linear infinite 0.8s;
  }
  
  @-webkit-keyframes rain {
    0% {
      opacity: 1;
    }
    25% {
      -webkit-transform: translateY(5px);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateY(15px);
      opacity: 1;
    }
    75% {
      -webkit-transform: translateY(25px);
      opacity: 0.75;
    }
    100% {
      -webkit-transform: translateY(35px);
      opacity: 0;
    }
  }
  @keyframes rain {
    0% {
      opacity: 1;
    }
    25% {
      -ms-transform: translateY(5px);
      transform: translateY(5px);
      opacity: 1;
    }
    50% {
      -ms-transform: translateY(15px);
      transform: translateY(15px);
      opacity: 1;
    }
    75% {
      -ms-transform: translateY(25px);
      transform: translateY(25px);
      opacity: 0.75;
    }
    100% {
      -ms-transform: translateY(35px);
      transform: translateY(35px);
      opacity: 0;
    }
  }
  
  #rainDrizzle {
    stroke: lightblue;
    stroke-width: 1;
    stroke-dasharray: 3;
    stroke-dashoffset: 1;
    -webkit-animation: drizzle 5s linear infinite;
    animation: drizzle 5s linear infinite;
  }
  
  @-webkit-keyframes drizzle {
    from {
      stroke-dashoffset: 40;
    }
    to {
      stroke-dashoffset: 10;
    }
  }
  @keyframes drizzle {
    from {
      stroke-dashoffset: 40;
    }
    to {
      stroke-dashoffset: 10;
    }
  }
  
  .lighting {
    animation-duration: 2.5s;
  }
  

  .flash {
    animation: flash 1s infinite;
  }
  
  @keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #snowFlake {
    fill: none;
    stroke: white;
    stroke-width: 0.6;
  }
  
  #snowFlake1 {
    -webkit-animation: snow 4s linear infinite;
    animation: snow 4s linear infinite;
  }
  
  #snowFlake2 {
    -webkit-animation: snow 3s linear infinite 0.8s;
    animation: snow 3s linear infinite 0.8s;
  }
  
  #snowFlake3 {
    -webkit-animation: snow 5s linear infinite 0.5s;
    animation: snow 5s linear infinite 0.5s;
  }
  
  #snowFlake4 {
    -webkit-animation: snow 6s linear infinite 1s;
    animation: snow 6s linear infinite 1s;
  }
  
  #snowFlake5 {
    -webkit-animation: snow 4s linear infinite 0.6s;
    animation: snow 4s linear infinite 0.6s;
  }
  
  @-webkit-keyframes snow {
    0% {
      -webkit-transform: translate(5px, 0px);
      opacity: 1;
    }
    25% {
      -webkit-transform: translate(0px, 10px);
      opacity: 1;
    }
    50% {
      -webkit-transform: translate(7px, 20px);
      opacity: 1;
    }
    75% {
      -webkit-transform: translate(0px, 30px);
      opacity: 0.75;
    }
    100% {
      -webkit-transform: translate(10px, 40px);
      opacity: 0.5;
    }
  }
  @keyframes snow {
    0% {
      -ms-transform: translate(5px, 0px);
      transform: translate(5px, 0px);
      opacity: 1;
    }
    25% {
      -ms-transform: translate(0px, 10px);
      transform: translate(0px, 10px);
      opacity: 1;
    }
    50% {
      -ms-transform: translate(7px, 20px);
      transform: translate(7px, 20px);
      opacity: 1;
    }
    75% {
      -ms-transform: translate(0px, 30px);
      transform: translate(0px, 30px);
      opacity: 0.75;
    }
    100% {
      -ms-transform: translate(10px, 40px);
      transform: translate(10px, 40px);
      opacity: 0.5;
    }
  }
  
  #ice1 {
    -webkit-animation: ice 1s linear infinite;
    animation: ice 1s linear infinite;
  }
  
  #ice3 {
    -webkit-animation: ice 1s linear infinite 0.5s;
    animation: ice 1s linear infinite 0.5s;
  }
  
  #ice2 {
    -webkit-animation: ice 2s linear infinite 1s;
    animation: ice 2s linear infinite 1s;
  }
  
  #ice4 {
    -webkit-animation: ice 2s linear infinite 0.8s;
    animation: ice 2s linear infinite 0.8s;
  }
  
  @-webkit-keyframes ice {
    0% {
      opacity: 1;
    }
    25% {
      -webkit-transform: translateY(5px);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateY(15px);
      opacity: 1;
    }
    75% {
      -webkit-transform: translateY(25px);
      opacity: 0.75;
    }
    100% {
      -webkit-transform: translateY(35px);
      opacity: 0;
    }
  }
  @keyframes ice {
    0% {
      opacity: 1;
    }
    25% {
      -ms-transform: translateY(5px);
      transform: translateY(5px);
      opacity: 1;
    }
    50% {
      -ms-transform: translateY(15px);
      transform: translateY(15px);
      opacity: 1;
    }
    75% {
      -ms-transform: translateY(25px);
      transform: translateY(25px);
      opacity: 0.75;
    }
    100% {
      -ms-transform: translateY(35px);
      transform: translateY(35px);
      opacity: 0;
    }
  }
  
  #mist {
    fill: none;
    stroke: #333333;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: misty 5s linear infinite alternate;
  }
  
  @keyframes misty {
   from {
     x: -10px;
    }
    to {
      x: 17px;
    }
  }
  
  .stars {
    animation-duration: 3s;
  }
  
  /*wind arrow bounching south-west */
  .bouncing-arrow {
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    50%, 0% {
      transform: translateY(10);
    }
    100% {
      transform: translateX(-5px);
    }
  }

 /*wind arrow bounching north-EEAST */
 .bouncingN-arrow {
  animation: bounceN 2s infinite;
}

@keyframes bounceN {
  100% {
    transform: translateY(-10px)  
    /* adjust the translateY value to change the distance of the movement */
  }
  90%, 0% {
    transform: translateY(-10) rotate(-360deg);
  }
}

 /*wind arrow bounching north-EAST */
 .bouncingNE-arrow {
  animation: bounceNE 2s infinite;
}

@keyframes bounceNE {
  100% {
    transform: translateY(-10px)  
    /* adjust the translateY value to change the distance of the movement */
  }
  90%, 0% {
    transform: translateY(-10) rotate(-360deg);
  }
}

 /*wind arrow bounching SOUTH-west */
 .bouncingSW-arrow {
  animation: bounceSW 2s infinite;
}

@keyframes bounceSW {
  100% {
    transform: translateX(-10px)  
    /* adjust the translateY value to change the distance of the movement */
  }
  90%, 0% {
    transform: translateX(-10) rotate(-360deg);
  }
}

 /*wind arrow bounching SOUTH-EAST */
 .bouncingSE-arrow {
  animation: bounceSE 2s infinite;
}

@keyframes bounceSE {
  100% {
    transform: translateX(-10)  
    /* adjust the translateY value to change the distance of the movement */
  }
  90%, 0% {
    transform: translateX(-10px) rotate(-10deg);
  }
}




.wind {
  fill: none;
  stroke: #333333;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

#wind1 {
  -webkit-animation: windy 2.5s linear forwards infinite 0.5s;
  animation: windy 2.5s linear forwards infinite 0.5s;
}
#wind2 {
  -webkit-animation: windy 2.8s linear forwards infinite 0.55s;
  animation: windy 2.8s linear forwards infinite 0.55s ;
}
#wind3 {
  -webkit-animation: windy 3.5s linear forwards infinite 2s;
  animation: windy 3.5s linear forwards infinite 2s;
}
#wind4 {
  -webkit-animation: windy 3.5s linear forwards infinite 0.5s;
  animation: windy 3.5s linear forwards infinite 0.5s;
}
#wind5 {
  -webkit-animation: windy 4s linear forwards infinite 0.5s;
  animation: windy 4s linear forwards infinite 0.5s;
}



#wind11 {
  -webkit-animation: windy 2.5s linear forwards infinite 0.5s;
  animation: windy 2.5s linear forwards infinite 0.5s;
}
#wind22 {
  -webkit-animation: windy 2.8s linear forwards infinite 0.55s;
  animation: windy 2.8s linear forwards infinite 0.55s ;
}
#wind33 {
  -webkit-animation: windy 3.5s linear forwards infinite 2s;
  animation: windy 3.5s linear forwards infinite 2s;
}
#wind44 {
  -webkit-animation: windy 3.5s linear forwards infinite 0.5s;
  animation: windy 3.5s linear forwards infinite 0.5s;
}
#wind55 {
  -webkit-animation: windy 4s linear forwards infinite 0.5s;
  animation: windy 4s linear forwards infinite 0.5s;
}

@-webkit-keyframes windy {
to {
    stroke-dashoffset: 0;
  }
}
@keyframes windy {
  to {
    stroke-dashoffset: 0;
  }
}

/* ============sidebar============== */

*{
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: "Poppins" , sans-serif;
}


.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.show {
  display: block;
}

.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .iconn{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .iconn,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .navlist{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 28px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bi-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bi-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bi-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover {
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
  background: #11101D;
}

.sidebar li a i:hover{
  background: #FFF;
  color: #11101d;
}
/* .sidebar.open li a i:hover{
  background: #1d1b31;
  color: #FFF;
} */
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: whitesmoke;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
/* nav tab */
.content {
  display: none;
}

.active + .content {
  display: block;
}

.mennu{
  display: none;
  
}

@media only Screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  
  .mennu{
    display: block;
    z-index: 600;
   
    
  }
  .home-section{
    left:0px;
    /* right: 8px; */
    width:100%;
  }
  .bigicon {
    width: 100%;
    height: 100%;
  }
.hrs24iconwind{
  width: 70%;
  height: 70%;
}
.icon5day{
  width: 40%;
  height: 30%;
}


}

/* home content carousel */
@media (max-width: 767px) {
  .carousel-inner1 .carousel-item > div {
    display: none;
  }
  .carousel-inner1 .carousel-item > div:first-child {
    display: block;
  }
  .topHomeCarouselWidthAdjustment{
width: 100%;
height: 70vh;
}
}

.carousel-inner1 .carousel-item.active,
.carousel-inner1 .carousel-item-next,
.carousel-inner1 .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner1 .carousel-item-end.active,
  .carousel-inner1 .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner1 .carousel-item-start.active, 
  .carousel-inner1 .carousel-item-prev {
    transform: translateX(-25%);
  }

  .topHomeCarouselWidthAdjustment{
    width: 60vh;
    height: 70vh;
    
    }
}

.carousel-inner1 .carousel-item-end,
.carousel-inner1 .carousel-item-start { 
  transform: translateX(0);
}

/* animate wind arrow direction */
/* northeasterly  */
.animate-icon-NE{
  position: relative;
    animation: move 2s ease-in-out infinite;
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100%, -100%);
  }
  100% {
    transform: translate(200%, -200%);
  }
}

/*======================================================== map section============================================================ */
 
.leaflet-container {
  height: 400px;
  width: 600px;
  max-width: 100%;
  max-height: 100%;
}

.carousel-item2f {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* wind direction css */
.arrow-animation {
  position: relative;
  width: 200px;
  height: 200px;
}

.arrow-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: arrow-move 2s linear infinite;
}

@keyframes arrow-move {
  0% {
    transform: translate(-50%, -50%) rotate(225deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(315deg);
  }
}

.stars {
  animation-duration: 3s;
}
/*========================= marine forecast  wave with fish at top==================*/
/* html, body {
  padding: 0px;
  margin: 0px;
  font-size: 62.5%;
} */

.thisguypaann {
  background: #11018c;
  background: linear-gradient(0deg, #090147 0%, #0874cb 40%, #00d4ff 48%, #7e1a2b 49%, #2b0070 100%);
  color: whitesmoke;
}

.wrapper1 {
  height: 70vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  
}

.ui {
  font-size: 1.3rem;
  padding-left: 20px;
  position: absolute;
  top: 0;
}
.ui input {
  margin-left: 10px;
}
.ui details {
  margin-top: 30px;
}
.ui summary {
  cursor: pointer;
  margin-bottom: 10px;
}
.ui label {
  display: block;
  padding: 3px;
}
.ui label span.labelWidth {
  display: inline-block;
  /* width: 250px; */
}

.fish {
  animation: swim 30s linear infinite;
  background: red;
  background: linear-gradient(0deg, #090147 0%, #0874cb 40%, #00d4ff 48%, #7e1a2b 49%, #2b0070 100%);
  border-radius: 40% 60% 60% 40%/49% 48% 52% 51%;
  bottom: 50px;
  height: 45px;
  left: 50%;
  position: absolute;
  width: 75px;
}
.fish:before, .fish:after {
  animation: tail-flap1 0.8s infinite;
  background: linear-gradient(0deg, #090147 0%, #0874cb 40%, #00d4ff 48%, #7e1a2b 49%, #2b0070 100%);
  border-radius: 76% 19% 40% 57%/62% 36% 50% 30%;
  content: "";
  height: 15px;
  position: absolute;
  right: -27px;
  top: 8px;
  transform: rotate(-27deg) scale(1, -1);
  transform-origin: 0% 25%;
  width: 30px;
}
.fish:before {
  animation: tail-flap2 0.8s infinite;
  top: 25px;
  transform: rotate(27deg) scale(1, 1);
}
.fish .eye {
  animation: eye-roll 30s linear infinite;
  background: white;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}
.fish .eye:after {
  background: black;
  border-radius: 50%;
  content: "";
  height: 5px;
  left: 6px;
  position: absolute;
  top: 4px;
  transform-origin: 150% 125%;
  width: 5px;
}
.fish .fin {
  animation: fin-flap 2s infinite;
  background: linear-gradient(0deg, #090147 0%, #0874cb 40%, #00d4ff 48%, #8d293a 49%);
  border-radius: 76% 19% 40% 57%/62% 36% 50% 30%;
  height: 20px;
  left: 25px;
  position: absolute;
  top: 9px;
  transform: rotate(-10deg);
  transform-origin: 0% 25%;
  width: 40px;
}

.moon {
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -12px -5px 0 7px whitesmoke;
  height: 10rem;
  position: absolute;
  right: 10vw;
  top: 5vh;
  width: 10rem;
}

.moonsun {
  background-color: transparent;
  border-radius: 50%;
  height: 10rem;
  position: absolute;
  right: 10vw;
  top: 5vh;
  width: 10rem;
}

@keyframes swim {
  0% {
    left: -100px;
    transform: scale(-1, 1);
  }
  30% {
    left: calc(100% + 100px);
    transform: scale(-1, 1);
  }
  40% {
    left: 100%;
    transform: scale(1, 1);
  }
  100% {
    left: -100%;
    transform: scale(1, 1);
  }
}
@keyframes fin-flap {
  0%, 100% {
    transform: rotate(-10deg) scale(1, 1);
  }
  50% {
    transform: rotate(-15deg) scale(0.5, 1.2);
  }
}
@keyframes tail-flap1 {
  0%, 100% {
    transform: rotate(-10deg) scale(1, 1);
  }
  50% {
    transform: rotate(-15deg) scale(0.5, 1.2);
  }
}
@keyframes tail-flap2 {
  0%, 100% {
    transform: rotate(10deg) scale(1, -1);
  }
  50% {
    transform: rotate(15deg) scale(0.5, -1.2);
  }
}
@keyframes eye-roll {
  0%, 40% {
    transform: rotate(-45deg);
  }
  30%, 100% {
    transform: rotate(65deg);
  }
}












/*========================= marine forecast  wave at bottom==================*/

.ocean {
  height: 80px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}


/* welcome page warning deeping circle */
.animation_main_div {
  /* position: absolute; */
  margin: 24px;
  display: block;
  width: 20px;
  left: 20%;
  
}

.circleR {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f32121;
  position: absolute;
  -webkit-animation-timing-function: linear;
  -webkit-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite;
  animation-timing-function: linear;
}

.circle2R {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f32121;
  position: absolute;
  -webkit-animation-timing-function: linear;
  -webkit-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.circle3R {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f32121;
  position: absolute;
  -webkit-animation-timing-function: linear;
  -webkit-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.circle4R {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f32121;
  position: absolute;
  -webkit-animation-timing-function: linear;
  -webkit-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -moz-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite;
  animation-timing-function: linear;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}



.circleY {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f3e521;
  position: absolute;
  -webkit-animation-timing-function: linear;
  -webkit-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite;
  animation-timing-function: linear;
}

.circle2Y {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f3de21;
  position: absolute;
  -webkit-animation-timing-function: linear;
  -webkit-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.circle3Y {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f3e521;
  position: absolute;
  -webkit-animation-timing-function: linear;
  -webkit-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.circle4Y {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f3f021;
  position: absolute;
  -webkit-animation-timing-function: linear;
  -webkit-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -moz-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite;
  animation-timing-function: linear;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}



.circleG {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #33f321;
  position: absolute;
  -webkit-animation-timing-function: linear;
  -webkit-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite;
  animation-timing-function: linear;
}

.circle2G {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3af321;
  position: absolute;
  -webkit-animation-timing-function: linear;
  -webkit-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.circle3G {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #5df321;
  position: absolute;
  -webkit-animation-timing-function: linear;
  -webkit-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.circle4G {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3af321;
  position: absolute;
  -webkit-animation-timing-function: linear;
  -webkit-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -moz-animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite; /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation: scaler 4s infinite;
  animation-timing-function: linear;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}


@-webkit-keyframes scaler {
  0% {
    -webkit-transform: scale(1);
  }

  33% {
    -webkit-transform: scale(4);
    opacity: 0.2;
  }

  67% {
    -webkit-transform: scale(7);
    opacity: 0.1;
  }

  100% {
    -webkit-transform: scale(10);
    opacity: 0;
  }
}

@-moz-keyframes scaler {
  0% {
    -moz-transform: scale(1);
  }

  33% {
    -moz-transform: scale(4);
    opacity: 0.2;
  }

  67% {
    -moz-transform: scale(7);
    opacity: 0.1;
  }

  100% {
    -moz-transform: scale(10);
    opacity: 0;
  }
}

@keyframes scaler {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(4);
    opacity: 0.2;
  }

  67% {
    transform: scale(7);
    opacity: 0.1;
  }

  100% {
    transform: scale(10);
    opacity: 0;
  }
}
