
  .waves {
    position: fixed;
    bottom: 50px;
    left: 0;
    height: 50vh;
    width: 100%;
  }
  .waves:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -100px;
    height: 100px;
    background: dodgerblue;
  }
  .waves svg {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .waves use {
    animation: wavewave 5s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    fill: dodgerblue;
    opacity: 0.7;
  }
  .waves.back {
    z-index: 1;
  }
  .waves.back use:nth-child(2) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .waves.back use:nth-child(3) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  .waves.front {
    z-index: 3;
  }
  .waves.front use:nth-child(2) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .waves.front use:nth-child(3) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  @keyframes wavewave {
    0% {
      transform: translate(-90px);
    }
    100% {
      transform: translate(85px);
    }
  }
  .boat {
    position: fixed;
    bottom: 50px;
    left: 50vw;
    transition: left 2s ease;
    z-index: 2;
    display: inline-block;
    transform-origin: center bottom;
    animation: bob 4s ease-in-out alternate infinite;
  }
  .boat .hull {
    width: 25vw;
    height: 8.75vw;
    background: firebrick;
    border-radius: 0 0 12.5vw 12.5vw;
    border-top: 0.375vw solid darkred;
  }
  .boat .sail1,
  .boat .sail2 {
    margin-bottom: 0.25vw;
    display: inline-block;
  }
  .boat .sail1 {
    width: 0px;
    border-bottom: 11.25vw solid white;
    border-left: 10vw solid transparent;
    margin: 0 0.625vw 0.25vw;
  }
  .boat .sail2 {
    width: 0px;
    border-bottom: 13.75vw solid white;
    border-right: 12.5vw solid transparent;
  }
  @keyframes bob {
    0% {
      transform: rotate(-10deg) translateY(0vh);
    }
    100% {
      transform: rotate(8deg) translateY(-20vh);
    }
  }
  @media (prefers-color-scheme: dark) {
    body {
      background: midnightblue;
    }
    .waves:after {
      background: royalblue;
    }
    .waves use {
      fill: royalblue;
    }
    .boat .hull {
      background: darkred;
      border-top-color: #600000;
    }
    .boat .sail1,
    .boat .sail2 {
      border-bottom-color: whitesmoke;
    }
  }
  
  /* .mapboxgl-canvas{
    width: 100% !important;
    height: 100% !important
  } */